# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# Venv (if created in project root)
Scripts/
Lib/
Include/
pyvenv.cfg

# IDE
.venv/
venv/
.idea/
.vscode/

# Generated outputs
*.html
